.checkout{
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 200;
/*    background-color: #F9F9F9;*/
}

.checkout-header{
    width: 100%;
    text-align: left;
    font-weight: 600;
    padding-left: 5%;
}

h3{
    text-align: left;
}
.checkout-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.timeForm{
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkout-left{
/*    background-color: lightgrey;*/
    flex: 1.25;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 15%;
/*    width: 50%;*/
}

.checkout-sub{
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-top: 10px;
}

.radioG{
    width: 75%;
}

.inCheckout{
    padding-bottom: 10px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.Demo__search-input,
.Demo__search-input:focus,
.Demo__search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  width: 100%;
}

.checkout-input{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
}

input{
    width: 100px;
}

.coDay{
    margin-left: 10px;
}

.Demo__autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  width: 100%;
  font-weight: 200;
  line-height: 1px;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.Demo__suggestion-item {
  padding: 4px;
  text-align: left;
}

.Demo__spinner {
  color: #18bc9c;
  font-size: 30px;
}
