.checkout-right{
/*    background-color: lightgoldenrodyellow;*/
    flex: 1;
}

.order-container{
    text-align: left;
}

.order{
    width: 225px;
}

.final{
    padding-top: 10px;
    font-size: 1.6em;
}

.order-head{
    padding-bottom: 10px;
    font-weight: 400;
}

.order-title{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.order-title-final{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.order-price-final{
    font-size: 1.4em;
    flex: 1;
    font-weight: 400;
    text-align: right;
}

.order-name-final{
    text-align: left;
    flex: 1;
    font-weight: 400;
    font-size: 1.5em;
}

.finalSummary{
   padding-top: 15px; 
}

.order-name{
    text-align: left;
    flex: 2; 
}

.order-item-div{
    width: 225px;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.order-price{
    font-weight: 200;
    font-size: 0.9em;
    color: grey;
    flex: 1;
    text-align: right;
}

.order-details{
    list-style-type: none;
    padding-left: 0px;
    color: gray;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 15px;
}

.order-total{
    list-style-type: none;
    padding-left: 0px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}