.checkout-right{
/*    background-color: lightgoldenrodyellow;*/
    flex: 1;
/*    background-color: white;*/
}

.order-container{
    text-align: left;
}

.order{
/*    width: 225px;*/
}

.final{
    padding-top: 10px;
    font-size: 1.6em;
}

.order-head{
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.8em;
}

.order-title{
    align-items: center;
    font-weight: 200;
/*    background-color: aliceblue;*/
    flex: 3;
}

.order-title-final{
    display: flex;
/*    width: 100%;*/
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}

.order-price-final{
    font-size: 1.4em;
    font-weight: 400;
    text-align: right;
    flex: 4;
    margin-top: 2px;
}

.order-name-final{
    text-align: left;
    font-weight: 400;
    font-size: 1.5em;
    flex: 1;
}

.finalSummary{
   padding-top: 5px; 
}

.order-name{
    text-align: left;
}

.order-item-div{
    width: 250px;
    font-size: 1.2em;
    display: flex;
    padding-bottom: 10px;
    align-items: flex-start;
/*
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
*/
}

.order-price{
    font-weight: 200;
    font-size: 0.9em;
    color: grey;
    flex: 1;
    margin-top: 2px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.lastSummary{
    margin-top: -5px;
}

.devCharge{
    flex: 2;
}

.order-details{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
    color: gray;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 15px;
}

.order-total{
    list-style-type: none;
    padding-left: 0px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.remove-cart{
    font-size: 1.4em;
    color: grey;
    font-weight: 400;
    margin-top: -5px;
}